= form_for(@link) do |f|
  - if @link.errors.any?
    #error_explanation
      %h2 #{pluralize(@link.errors.count, "error")} prohibited this link from being saved:

      %ul
        - @link.errors.full_messages.each do |msg|
          %li= msg

  .form_contents
    .form_row
      = f.label :name
      = f.text_field :name

    .form_row
      = f.label :uri
      = f.text_field :uri

    .form_row
      = f.label :screen_name
      = f.text_field :screen_name

  .actions
    = link_to 'Cancel', links_path
    = f.submit
