.well
  = form_for @link, html: {role: 'form'} do |f|
    - if @link.errors.any?
      .alert.alert-danger
        %p
          %strong #{pluralize(@link.errors.count, "error")} prohibited this link from being saved:

        %ul
          - @link.errors.full_messages.each do |msg|
            %li= msg

    .form_contents
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"

      .form-group
        = f.label :uri
        = f.text_field :uri, class: "form-control"

      .form-group
        = f.label :username
        = f.text_field :username, class: "form-control"

      .form-group
        = link_to 'Cancel', links_path, class: "btn btn-default"
        = f.button nil, class: "btn btn-primary"
