%h1 Linknado

- @links.each do |link|
  .link_wrapper
    = link_to link.name, link.uri

    .author Created by #{link.screen_name} #{time_ago_in_words(link.created_at)} ago

    .link_actions
      = link_to 'Show', link
      = link_to 'Edit', edit_link_path(link)
      = link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'Add Link', new_link_path
