%h3 Show Link

- if notice
  .alert.alert-success #{notice}

= render "link", link: @link

#comments.panel.panel-default
  .panel-heading
    %h3.panel-title
      %strong Comments
      = link_to "Add Comment", new_comment_path(link_id: @link.id),
        class: "btn btn-primary"
  .panel-body
    - @link.comments.each do |comment|
      .well
        %p= comment.body

        .help-block
          Added by #{comment.username} #{time_ago_in_words(comment.created_at)} ago
          %span :
          = link_to "Permalink", comment 

